<div id="intro" class="cd-el-bg">
    <!-- ================================================= Top-Bar ============================================================ -->
    <nav id="top-bar-menu" class="top-bar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-mob-size el-navbar">
                <button type="button" class="navbar-toggle collapsed btn-collapsed nav-btn-collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-sm" href="@Url.Action("Index", "Home")"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right btn-top-bar">
                    <li><a href="@Url.Action("Index", "travels")">Путешествия</a></li>
                    <li><a href="@Url.Action("Index", "notes")">Блог</a></li>
                    <li><a href="@Url.Action("Index", "maps")">Карта</a></li>
                    <li><a href="@Url.Action("Index", "about")">Обо мне</a></li>
                    <li><a href="@Url.Action("Index", "instagram")">Инстаграм</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ================================================= End of Top-Bar ============================================================ -->
    <!-- ================================================= Content-section-1 ============================================================ -->
    <div id="wallpaper" class="section-1">
        <nav id="next-btn">
            <a href="#" class="icon-next"></a>
        </nav>
        <nav id="previous-btn">
            <a href="#" class="icon-previous"></a>
        </nav>
        <div class="container">
            <div class="wow fadeInUp delay-07s">
                <div class="content-section-1">
                    <h4 id="title1">Август 2014</h4>
                    <hr />
                    <h1 id="title2">Казань</h1>
                    <p id="title3">Прогулка по Казанскому кремлю. На заднем плане - здание министерства сельского хозяйства республики Татарстан.</p>
                </div>
            </div>
            <div class="helper-el wow fadeInUp delay-1s">
                <span class="swipe-helper"></span>
            </div>
        </div>
    </div>
    <!-- ================================================= End of Content-section-1 ============================================================ -->
</div>
<!-- ================================================= Section-2 (inf from trips) ============================================================ -->
<div class="section-2">
    <div class="container">
        <div class="section-2-container">
            <!-- range-1 -->
            <div class="wow fadeInUp delay-4">
                <div class="col-md-12 subsection-s2">
                    <div class="col-md-3">
                        <div class="icons-s2">
                            <a href="#">
                                <div class="item-s2 ic-city"></div>
                            </a>
                            <h2>2</h2>
                            <p>
                                Города
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icons-s2">
                            <a href="#">
                                <div class="item-s2 ic-country"></div>
                            </a>
                            <h2>2</h2>
                            <p>
                                Страны
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icons-s2">
                            <a href="#">
                                <div class="item-s2 ic-restaurant"></div>
                            </a>
                            <h2>0</h2>
                            <p>
                                Рестораны и кафе
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icons-s2">
                            <a href="#">
                                <div class="item-s2 ic-days"></div>
                            </a>
                            <h2>12</h2>
                            <p>
                                Дни в дороге
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of range-1 -->
            <!-- range-2 -->
            <div class="wow fadeInUp delay-07s">
                <div class="col-md-12 subsection-s2">
                    <div class="col-md-3">
                        <div class="icons-s2">
                            <a href="#">
                                <div class="item-s2 ic-flight"></div>
                            </a>
                            <h2>8</h2>
                            <p>
                                Перелеты
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icons-s2">
                            <a href="#">
                                <div class="item-s2 ic-hotel"></div>
                            </a>
                            <h2>3</h2>
                            <p>
                                Гостиницы и отели
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icons-s2">
                            <a href="#">
                                <div class="item-s2 ic-place"></div>
                            </a>
                            <h2>5</h2>
                            <p>
                                Места
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icons-s2">
                            <a href="#">
                                <div class="item-s2 ic-dog"></div>
                            </a>
                            <h2>0</h2>
                            <p>
                                Поездки с собакой
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End of range-2 -->
        </div>
    </div>
</div>
<!-- ================================================= End of Section-2 ============================================================ -->
<!-- ================================================= Section-3 (gallery section) ============================================================ -->
<div class="section-3">
    <div class="container">
        <div class="wow fadeInUp delay-4">
            <h1>Мои места</h1>
        </div>
        <div class="wow fadeInUp delay-07s">
            <span class="title-line-1"></span>
            <span class="title-line-2"></span>
        </div>
        <!-- row-1 -->
        <div class="col-md-4">
            <div class="place-travel img-kul_sharif">
                <div class="content-place">
                    <p class="name-city">Казань</p><br>
                    <p class="name-country">Мечеть Кул-Шариф</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">9/8/2014</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="place-travel img-maneshka">
                <div class="content-place">
                    <p class="name-city">Река Волга</p><br>
                    <p class="name-country">На теплоходе</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">10/8/2014</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="place-travel img-shalapin_palas">
                <div class="content-place">
                    <p class="name-city">Казань</p><br>
                    <p class="name-country">Отель Шаляпин</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">10/8/2014</p>
                </div>
            </div>
        </div>
        <!-- End of row-1 -->
        <!-- row-2 -->
        <div class="col-md-4">
            <div class="place-travel" style="background: url('/img/divnomorsk.jpg')">
                <div class="content-place">
                    <p class="name-city">Дивноморск</p><br>
                    <p class="name-country">Побережье</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">11/7/2011</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="place-travel" style="background: url('/img/seabay.jpg')">
                <div class="content-place">
                    <p class="name-city">Казань</p><br>
                    <p class="name-country">Набережная</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">11/8/2014</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="place-travel" style="background: url('/img/yandex.JPG')">
                <div class="content-place">
                    <p class="name-city">Яндекс</p><br>
                    <p class="name-country">С Дубовик</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">30/8/2014</p>
                </div>
            </div>
        </div>
        <!-- End of row-2 -->
    </div>
</div>
<!-- ================================================= End of Section-3 ============================================================ -->
<!-- ================================================= Section-4 ( 2 gallery section ) ============================================================ -->
<div class="section-3 style-section-4">
    <div class="container">
        <div class="wow fadeInUp delay-4">
            <h1>Мои моменты</h1>
        </div>
        <div class="wow fadeInUp delay-07s">
            <span class="title-line-1"></span>
            <span class="title-line-2"></span>
        </div>
        <!-- row-1 -->
        <div class="col-md-4">
            <div class="place-travel" style="background: url('/img/mamma_pizza.JPG')">
                <div class="content-place">
                    <p class="name-city">Мама Пицца</p><br>
                    <p class="name-country">Выходной</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">7/1/2015</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="place-travel" style="background: url('/img/checkhov.JPG')">
                <div class="content-place">
                    <p class="name-city">Театр им. А.П.Чехова</p><br>
                    <p class="name-country">"Доктор Философии"</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">10/3/2015</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="place-travel" style="background: url('/img/ozero.JPG')">
                <div class="content-place">
                    <p class="name-city">Лебединое Озеро</p><br>
                    <p class="name-country">Олимп</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">3/4/2015</p>
                </div>
            </div>
        </div>
        <!-- End of row-1 -->
        <!-- row-2 -->
        <div class="col-md-4">
            <div class="place-travel" style="background: url('/img/charli.jpg')">
                <div class="content-place">
                    <p class="name-city">Кино</p><br>
                    <p class="name-country">Чарли</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">5/6/2015</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="place-travel" style="background: url('/img/Pascal.JPG')">
                <div class="content-place">
                    <p class="name-city">Паскаль</p><br>
                    <p class="name-country">Like a boss</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">4/4/2015</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="place-travel" style="background: url('/img/paskal_sea.JPG')">
                <div class="content-place">
                    <p class="name-city">Прогулка</p><br>
                    <p class="name-country">Паскаль</p>
                    <p class="qty-days"></p><br>
                    <p class="date-travel">2/8/2015</p>
                </div>
            </div>
        </div>
        <!-- End of row-2 -->
    </div>
</div>
<!-- ================================================= End of Section-4 ============================================================ -->
<!-- ================================================= Contact Us ============================================================ -->
<div class="contact-us">
    <div class="container">
        <div class="col-md-4">
            <div class="logo-white"></div>
            <p class="slogan">
                Взгляни на мир моими глазами.
            </p>
        </div>
        <div class="col-md-8">
            <ul class="contact-us-inf">
                <li class="wow fadeInRight delay-contact-2">
                    <span class="ic ic-internet"></span>
                    <p>elenalife.ru</p>
                </li>
                <li class="wow fadeInRight delay-2">
                    <span class="ic ic-email"></span>
                    <p>noginahelena@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ================================================= End of Contact Us ============================================================ -->
<!-- ================================================= Footer ============================================================ -->
<div class="footer">
    <div class="container">
        <div class="soc-btns">
            <a href="https://www.facebook.com/elena.yaroschenko">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/Viteria">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://instagram.com/lady_viteria/">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://plus.google.com/u/0/110359678900084252222/posts">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
        <p class="copyright">NEUTRINO SOFT</p>
    </div>
</div>
<!-- ================================================= End of Footer ============================================================ -->


<script>
    $(document).ready(function () {
        $('#previous-btn').click();
        $('#next-btn').click();


        var i = 0;
        var images = [{ src: '/img/bg-s1-intro.jpg', title1: "Август 2014", title2: "Казань", title3: "Прогулка по Казанскому кремлю. На заднем плане - здание министерства сельского хозяйства республики Татарстан." },
            {src: '/img/paska.JPG', title1: "Август 2015", title2: "Новая набережная", title3: "Первое знакомство Паскаля с морем! =)"}];
    var max = images.length - 1;

    $(document).on('click', '#next-btn', function () {
        if (i == max) {
            i = 0;
            $('#intro').fadeOut(500);
            setTimeout(function() {
                $('#intro').css('background-image', 'url("' + images[0].src + '")').fadeIn(500);
                $('#title1').html(images[0].title1);
                $('#title2').html(images[0].title2);
                $('#title3').html(images[0].title3);
            }, 500);

            console.log(i);
            return;
        }

        i++;
        $('#intro').fadeOut(500);
        setTimeout(function () {
            $('#intro').css('background-image', 'url("' + images[i].src + '")').fadeIn(500);
            $('#title1').html(images[i].title1);
            $('#title2').html(images[i].title2);
            $('#title3').html(images[i].title3);

        }, 500);

        console.log(i);
    });

    $(document).on('click', '#previous-btn', function () {
        if (i == 0) {
            i = max;
            $('#intro').fadeOut(500);
            setTimeout(function () {
                $('#intro').css('background-image', 'url("' + images[max].src + '")').fadeIn(500);
                $('#title1').html(images[max].title1);
                $('#title2').html(images[max].title2);
                $('#title3').html(images[max].title3);
            }, 500);

            console.log(i);
            return;
        }

        i--;
        $('#intro').fadeOut(500);
        setTimeout(function () {
            $('#intro').css('background-image', 'url("' + images[i].src + '")').fadeIn(500);
            $('#title1').html(images[i].title1);
            $('#title2').html(images[i].title2);
            $('#title3').html(images[i].title3);
        }, 500);

        console.log(i);
    });

    });
</script>
