<link href="~/Content/internal-travels.css" rel="stylesheet" />  <div id="it-page" class="it-el-bg">

    <!-- ================================================= Top-Bar ============================================================ -->
    <nav id="top-bar-menu" class="top-bar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-mob-size el-navbar">
                <button type="button" class="navbar-toggle collapsed btn-collapsed nav-btn-collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-sm" href="index.html"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right btn-top-bar">
                    <li><a href="@Url.Action("Index", "travels")">Путешествия</a></li>
                    <li><a href="@Url.Action("Index", "notes")">Заметки</a></li>
                    <li><a href="@Url.Action("Index", "maps")">Карта</a></li>
                    <li><a href="@Url.Action("Index", "about")">Обо мне</a></li>
                    <li><a href="@Url.Action("Index", "instagram")">Инстаграм</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ================================================= End of Top-Bar ============================================================ -->
    <!-- ================================================= my map section ============================================================ -->
    <div class="it-section">
        <div class="container">
            <div class="wow fadeInUp delay-4">
                <h1 class="tit-section">Незабываемая поездка в Москву!</h1>
            </div>
            <div class="wow fadeInUp delay-07s">
                <span class="title-line-1"></span>
                <span class="title-line-2"></span>
            </div>
            <div class="posts-trip-content">
                <p class="subtitle-post">
                    Это была короткая, но незабываемая и удивительная поездка в столицу нашей Родины! Прилет в 2 часа ночи, встреча с Дубовик, 
                    прогулка по парку Горького, ливень! поедание китайской лапши на ВДНХ, лечение простуды! экскурсия по Яндексу, Воробьевы
                    горы и прогулка по МГУ.
                </p>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/1.jpg" />
                        <div class="content-post">
                            <p>
                                Тут мы грелись после холодной московской погоды и пили имбирный чай =)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/2.jpg" />
                        <div class="content-post">
                            <p>
                                Крутая прогулка с Дубовик по офисам Яндекса! Было безумно интересно!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/3.jpg" />
                        <div class="content-post">
                            <p>
                                Отель Космос! Невероятное здание, мы жили на 23 этаже :)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/4.jpg" />
                        <div class="content-post">
                            <p>
                                Мой МГУ им. Ломоносова. Символично тут побывать 1го сентября.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/5.jpg" />
                        <div class="content-post">
                            <p>
                                Крыша Яндекса. По пятницам тут разрешено пить пиво и расслабляться!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/6.jpg" />
                        <div class="content-post">
                            <p>
                                Стелла Космонавтам! Вид из гостиницы Космос. Издалека она очень маленькая =)
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/7.jpg" />
                        <div class="content-post">
                            <p>
                                Вид с 23-го этажа! Тут захватывает дух и москва, как на ладоне.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/8.jpg" />
                        <div class="content-post">
                            <p>
                                Арбат - очень живая улица, люблю пешеходить по таким местам.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/9.jpg" />
                        <div class="content-post">
                            <p>
                                Чистые пруды. Ищем уютное место, где можно попить чай и отдохнуть. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/10.jpg" />
                        <div class="content-post">
                            <p>
                                Кафе Rock'n'Roll. Тут мы кушали очень вкусные стейки из телятины.   
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- ================================================= End of my map section ============================================================ -->
</div>
