<link href="~/Content/internal-travels.css" rel="stylesheet" />

<div id="it-page" class="it-el-bg">
    <!-- ================================================= Top-Bar ============================================================ -->
    <nav id="top-bar-menu" class="top-bar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-mob-size el-navbar">
                <button type="button" class="navbar-toggle collapsed btn-collapsed nav-btn-collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-sm" href="@Url.Action("Index", "Home")"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right btn-top-bar">
                    <li><a href="@Url.Action("Index", "travels")">Путешествия</a></li>
                    <li><a href="@Url.Action("Index", "notes")">Блог</a></li>
                    <li><a href="@Url.Action("Index", "maps")">Карта</a></li>
                    <li><a href="@Url.Action("Index", "about")">Обо мне</a></li>
                    <li><a href="@Url.Action("Index", "instagram")">Инстаграм</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ================================================= End of Top-Bar ============================================================ -->
    <!-- ================================================= my map section ============================================================ -->
    <div class="it-section">
        <div class="container">
            <div class="wow fadeInUp delay-4">
                <h1 class="tit-section">Казань 2014!</h1>
            </div>
            <div class="wow fadeInUp delay-07s">
                <span class="title-line-1"></span>
                <span class="title-line-2"></span>
            </div>
            <div class="posts-trip-content">
                <p class="subtitle-post">
                    Летом 2014го я осуществила свою мечту - я побывала в красивейшем городе Казане. Я влюбилась в него, в его культуру, в его улицы и набережные.
                    Сюда хочется возвращаться еще и еще. Побывав тут всего 4 дня, я смогла проникнуться духом города, а ночные прогулки по главной пешеходной улице
                    города останутся в моем сердце навсегда.
                </p>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/k1.jpg" />
                        <div class="content-post">
                            <p>
                                Загораем на зеленой травке около Казанского Кремля!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/k2.jpg" />
                        <div class="content-post">
                            <p>
                                На набережной жарко - спасает только веер. Нужно найти прохладное место.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/k3.jpg" />
                        <div class="content-post">
                            <p>
                                На заднем плане Министерство Сельского хозяйства р. Танарстан.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/k4.jpg" />
                        <div class="content-post">
                            <p>
                                Лук освоила, наступило время осваивать арбалет! Прогресс :)
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/k5.jpg" />
                        <div class="content-post">
                            <p>
                                Кул-Шариф, прекрасная погода и прекрасное место радуют глаз!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/k6.jpg" />
                        <div class="content-post">
                            <p>
                                Где-то по дороге в Казанский Кремль. Почему бы и не сфотографироваться? =)
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/k7.jpg" />
                        <div class="content-post">
                            <p>
                                В этом уютном месте мы однажды ужинали. Классный был вечер =)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/k8.jpg" />
                        <div class="content-post">
                            <p>
                                Здание национального банка р.Татарстан. На него смотреть лучше вечером.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-block">
                        <img src="/img/k9.jpg" />
                        <div class="content-post">
                            <p>
                                Отель Шаляпин, очень красивый как снаружи, так и изнутри!
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- ================================================= End of my map section ============================================================ -->
</div>
